:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71; 
    --accent-color: #e74c3c; 
    --background-color: #ecf0f1; 
    --text-color: #2c3e50; 
    --muted-color: #eee;
    --main-color: #3b82f6;
    --hover-color: #2d5eac;
    --second-color: #cadcee;
    --black-color: #000;
    --button-color: #5b5b5b;
    --paragraph-color: #919191;
}