:root {
    html,
    body,
    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    ol {
      margin: 0;
      padding: 0;
    }
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    overflow-y: auto;
  }

  html {
    scroll-behavior: smooth;
    background-color: #f8fafc;
  }

  $tablet: 712px;
  $desktop: 1024px;
  $desktop-md: 1200px;
  $desktop-lg: 1440px;
  
  @mixin screensize ($size) {
    @media screen and (min-width: $size) {
      @content;
    }
  }